body {
	background: #CCC;
	max-width: 1500px;
	min-width: 1000px;
}

#pageheader {
	text-align: center;
	margin-bottom: 5px;
}

#pagebody {
	width: 100%;
	table-layout: fixed;
}

.countcell {
	width: 25%;
}

#maincanvas {
	width: 500px;
	height: 500px;
	border: 2px solid black;
	margin: auto;
	margin-top: 10px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.count {
	background: #FFF;
	width: 100px;
	height: 100px;
	margin: auto;
	border: 2px solid black;
	border-radius: 50%;
	line-height: 100px;
	text-align: center;
	font-size: 2em;
}

.mincount {
	padding-top: 10px;
	text-align: center;
}

.description {
	text-align: center;
	margin: auto;
	max-width: 700px;
	padding: 5px;
}

button {
	margin: 0px 10px;
}

#speed, #input {
	text-align: center;
	padding-top: 20px;
}

#speed {
	margin-bottom: 10px;
}

.speedlabel {
	margin-left: 5px;
}

.speedoption {
	margin-right: 5px;
}